/* .vertical-menu {
    width: 200px;
} */

.vertical-menu li {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu li:hover {
    background-color: #ccc;
}

.vertical-menu li.active {
    background-color: gray;
    color: white;
}