<div class="row">
  <div class="col-sm-3">

    <div class="thumbnail">
      Group 1
    </div>
  </div>
  <div class="col-sm-3">

    <div class="thumbnail">
      Group 2
    </div>

  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      Group 3
    </div>
  </div>
</div>

<div class="row">

  <form [formGroup]="GroupsForm" (submit)="onsubmit(GroupsForm.value.GroupName)">
    <div class="form-group">
      <label for="Group-Name">GroupName:</label>
      <input type="text" class="form-control" id="GroupName" formControlName="GroupName">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>

<div *ngFor="let item of GroupName">

  <p>{{item}}</p>
</div>
<!--<h2>{{GroupName}}</h2>-->