<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#">Organization</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="navbar-form navbar-right">
            <div *ngIf="auth.isAuthenticated()">
                <ul class="navbar navbar-right">
                    <button id="logout" class="btn btn-danger" (click)="auth.logout()">Logout</button>
                </ul>
                <ul class="navbar navbar-right" *ngIf="auth.userProfile">
                    <p>{{auth.userProfile.nickname}}</p>
                </ul>
                <ul class="navbar navbar-right" *ngIf="auth.userProfile">
                    <img [src]="auth.userProfile.picture" style="width:40px;height:40px;" [alt]="auth.userProfile.nickname">
                </ul>
            </div>
            <ul class="navbar navbar-right" *ngIf="!auth.isAuthenticated()">
                <button id="login" class="btn btn-info" (click)="auth.login()">Login</button>
                <button id="login" class="btn btn-warning" (click)="auth.signUp()">Signup</button>
            </ul>
        </div>
    </div>
    <!-- <ul class="navbar navbar-right" *ngIf="!auth.isAuthenticated()">
        <p><button id="logout" class="btn btn-default">Logout</button>
        </p>
    </ul>
    <ul class="navbar navbar-right" *ngIf="auth.isAuthenticated()">
        <p><button id="logout" class="btn btn-default">Login</button>
        </p>
    </ul> -->

    <!-- <ul class="nav navbar-nav navbar-right" *ngIf="!auth.isAuthenticated()">
        <p class="navbar-right"><button id="logout" class="btn btn-default">Logout</button>
        </p>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="auth.isAuthenticated()">
        <p class="navbar-right"><button id="logout" class="btn btn-default">Login</button>
        </p>
    </ul> -->
    <!-- /.navbar-collapse -->
</nav>

<!-- <app-left-navbar></app-left-navbar> -->
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" style="border: 2px solid blue; padding: 1rem;">
        <router-outlet name="navbar-top-left"></router-outlet>
    </ul>
    <ul class="nav nav-sidebar" style="border: 2px solid red; padding: 1rem;">
        <router-outlet name="navbar-bottom-left"></router-outlet>
    </ul>
</div>
<div class="container-fluid">
    <div style="border: 2px solid green; padding: 1rem;">
        <router-outlet></router-outlet>
    </div>
</div>