<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#">Organization</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input [(ngModel)]="SearchQuery" type="text" class="form-control" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="navbar-form navbar-right">
            <div *ngIf="auth.isAuthenticated()">
                <ul class="navbar navbar-right">
                    <button id="logout" class="btn btn-danger" (click)="auth.logout()">Logout</button>
                </ul>
                <ul class="navbar navbar-right" *ngIf="auth.userProfile">
                    <p>{{auth.userProfile.nickname}}</p>
                </ul>
                <ul class="navbar navbar-right" *ngIf="auth.userProfile">
                    <img [src]="auth.userProfile.picture" style="width:40px;height:40px;" [alt]="auth.userProfile.nickname">
                </ul>
            </div>
            <ul class="navbar navbar-right" *ngIf="!auth.isAuthenticated()">
                <button id="login" class="btn btn-info" (click)="auth.login()">Login</button>
                <button id="login" class="btn btn-warning" (click)="auth.signUp()">Signup</button>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div class="col-sm-2 sidebar ">
    <ul class="nav nav-sidebar row" style="padding: 1rem;">
        <app-left-top-navbar></app-left-top-navbar>
    </ul>
    <ul class="nav nav-sidebar row" style="padding: 1rem;">
        <app-left-down-navbar (notify)='ongroupClicked($event)'></app-left-down-navbar>
    </ul>
</div>

<div class="col-sm-8 container-fluid">
    <router-outlet></router-outlet>
</div>

<div class="col-sm-2 sidebar navbar justify-content-end">
    <ul class="nav nav-sidebar row justify-content-end" style="padding: 1rem;">
        <app-right-top-navbar></app-right-top-navbar>

    </ul>
    <ul class="nav nav-sidebar row justify-content-end" style="padding: 1rem;">
        <app-right-bottom-navbar></app-right-bottom-navbar>
    </ul>
</div>